<ion-header no-border *ngIf="contentIsLoad">
  <ion-segment fixed (ionChange)="segmentChanged($event)">
    <ion-segment-button value="randomNumbers" checked mode="md">
      <ion-label>Jogo</ion-label>
    </ion-segment-button>
    <ion-segment-button value="resultGame" mode="md">
      <ion-label>Conferir resultado</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>


<ion-content *ngIf="contentIsLoad">
  <!-- GAMES -->
  <div *ngIf="segment === 'randomNumbers'">
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>Data do jogo:</ion-label>
          <ion-datetime display-format="DD/MMM/YYYY" picker-format="DD/MMM/YYYY" placeholder="Selecione"
            [(ngModel)]="registerGame"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">
        <ion-item>
          <ion-label>Qnts Nº:</ion-label>
          <ion-input type="number" [value]='howManyNumbers' [(ngModel)]="howManyNumbers"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="4">
        <ion-item>
          <ion-label>Qnts jogos:</ion-label>
          <ion-input type="number" [value]='howManyGame' [(ngModel)]="howManyGame"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col size="4">
        <ion-item>
          <ion-label>Nº de 1 a </ion-label>
          <ion-input type="number" [value]='rangeNumbers' [(ngModel)]="rangeNumbers"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <div>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Repetir numeros do jogo:</ion-label>
            <ion-select placeholder="Selecine" [(ngModel)]="dateChosen" (click)="getAllMeusJogos()">
              <ion-select-option [value]="game.Register" *ngFor="let game of myGames">{{game.Register}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button (click)="getNumersOfGameByDateChosen()" expand="block" fill="clear" shape="round"
            *ngIf="dateChosen">
            Buscar Jogo
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-list *ngFor="let x of objGame">
            <ion-label>Jogo ({{x.id}}): {{x.MyNumbers}}</ion-label>
          </ion-list>
        </ion-col>
      </ion-row>
    </div>

    <div>
      <img src="../../../assets/img/infoMyGames.png" *ngIf="objGame.length ===0">
    </div>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="goToimportGame()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>

  </div>




  <!-- CONTENT RESULT GAMES -->
  <div *ngIf="segment === 'resultGame'">
    <ion-row>
      <ion-col size="4">
        <ion-item>
          <ion-label (click)="addConcurso()"> + Add concurso</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="8">
        <ion-item>
          <ion-label>concurso:</ion-label>
          <ion-select placeholder="Selecine" [(ngModel)]="concursoChosen" (click)="getAllConcursos()">
            <ion-select-option [value]="c.Concurso" *ngFor="let c of concursos">{{c.Concurso}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
     
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label>Ver resultado do jogo: </ion-label>
          <ion-select [(ngModel)]="dateChosen" placeholder="Selecione" (click)="getAllMeusJogos()">
            <ion-select-option [value]="game.Register" *ngFor="let game of myGames">{{game.Register}}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <div *ngIf="resultTotal.length !== 0">
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Nº Premiados: {{AwardedNumbers}}</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="10">
          <ion-label>Seus jogos</ion-label>
          <ion-list *ngFor="let x of objGame">
            <ion-label>Jogo ({{x.id}}): {{x.MyNumbers}}</ion-label>
          </ion-list>
        </ion-col>
        <ion-col size="2">
          <ion-label>Acertos</ion-label>
          <ion-list *ngFor="let rn of resultTotal">
            <ion-label>{{rn.rightNumbers.length}}</ion-label>
          </ion-list>
        </ion-col>
      </ion-row>
    </div>
  </div>


    
    <p *ngIf="objGame.length ===0"> 
      Salve um ou mais jogos e adicione concursos para verificar seus resultados.
    </p>



</ion-content>

<ion-footer *ngIf="contentIsLoad">
  <!-- FOOTER GAMES -->
  <div *ngIf="segment === 'randomNumbers'">
    <ion-toolbar>
      <ion-row>
        <ion-col size="4">
          <ion-button (click)="generateNumbers()" expand="block" fill="clear" shape="round">Sortear numeros</ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button (click)="insertGame()" expand="block" fill="clear" shape="round">Salvar jogo</ion-button>
        </ion-col>
        <ion-col size="4">
          <ion-button (click)="clear()" expand="block" fill="clear" shape="round">Limpar</ion-button>
        </ion-col>
      </ion-row>

    </ion-toolbar>
  </div>

  <!-- FOOTER RESULT -->

  <div *ngIf="segment === 'resultGame'">
    <ion-toolbar>
      <ion-row>
        <ion-col size="12">
          <ion-button (click)="verifyResult()" expand="block" fill="clear" shape="round">
            Verificar Resultados
          </ion-button>
        </ion-col>
        <!-- <ion-col size="6">
          <ion-button (click)="saveResult()" expand="block" fill="clear" shape="round">
            Salvar resultado
          </ion-button>
        </ion-col> -->
      </ion-row>

    </ion-toolbar>
  </div>
</ion-footer>